# Default values for shipa.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

auth:
  dummyDomain: "@shipa.io"

shipaApi:
  port: 8080
  securePort: 8081
  image: shipasoftware/api:v1.2.0-rc-5
  pullPolicy: Always
  debug: false
  # platformImageTag is the default tag for supported Shipa platform images 
  # Any Dockerfile provided by the user having base image from shipa registry
  # should have the supported platform image tag for compatibility with Shipa API.
  platformImageTag: v1.2

license: ""

shipaCluster:
  # use debug logs in traefik ingress controller
  debug: false
  
  # kubernetes service type for traefik ingress controller (LoadBalancer/ClusterIP)
  serviceType: LoadBalancer
  
  # override traefik ingress controller ip address
  # ip: 10.100.10.11
  
  # use debug logs in istio ingress controller
  istioDebug: false
  
  # kubernetes service type for istio ingress controller (LoadBalancer/ClusterIP)
  istioServiceType: LoadBalancer
  
  # override istio ingress controller ip address
  # istioIp: 10.100.10.11
  
  # if set to true, shipa will deploy CertManager into cert-manager namespace
  # use carefully as it could override your installation of cert-manager
  installCertManager: false


service:
  nginx:
    enabled: true
    serviceType: LoadBalancer
#    serviceType: ClusterIP
    #clusterIP: 10.100.10.10
#    loadBalancerIP: 35.202.88.71

dashboard:
  enabled: true
  image: shipasoftware/dashboard:v1.2.0-rc-5

etcd:
  debug: false
  persistence:
    ## Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.
    ##
    ## storageClass: ""
    accessMode: 'ReadWriteOnce'
    size: 10Gi

postgres:
  persistence:
    ## Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.
    ##
    ## storageClass: ""
    accessMode: 'ReadWriteOnce'
    size: 10Gi

cli:
  image: shipasoftware/cli:v1.2.0-rc-5
  pullPolicy: Always

metrics:
  image: shipasoftware/metrics:v0.0.6
  pullPolicy: Always

  # Extra configuration to add to prometheus.yaml
  # extraPrometheusConfiguration: |
  #   remote_read:
  #      - url: http://localhost:9268/read
  #   remote_write:
  #      - url: http://localhost:9268/write
  extraPrometheusConfiguration:
  #password: hardcoded
  prometheusArgs: "--storage.tsdb.retention.time=1d"

busybody:
  image: shipasoftware/bb:v0.0.6

netdata:
  image: shipasoftware/netdata:v0.0.4

shipaNodeTraefik:
  user: admin

platforms:
  # platformImageTag is the default tag for supported Shipa platform images 
  # Any Dockerfile provided by the user having base image from shipa registry
  # should have the supported platform image tag for compatibility with Shipa API.
  platformImageTag: v1.2
  # toInstall defines all platforms we should add to shipa during helm install
  toInstall:
    - static

# --------------------------------------------------------------------------

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

rbac:
  enabled: true


mongodb-replicaset:
  replicaSetName: rs0
  replicas: 1
  port: 27017
  auth:
    enabled: false
  installImage:
    name: k8s.gcr.io/mongodb-install
    tag: 0.6
    pullPolicy: IfNotPresent
  image:
    name: mongo
    tag: latest
    pullPolicy: IfNotPresent
  persistentVolume:
    ## Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.
    ##
    ## storageClass: ""
    enabled: true
    size: 10Gi
  tls:
    enabled: false
  configmap:


docker-registry:
  persistence:
    accessMode: 'ReadWriteOnce'
    enabled: true
    size: 10Gi
    ## Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.
    ##
    ## storageClass: ""
  service:
    port: 5000
  tlsSecretName: shipa-certificates
  configData:
    version: 0.1
    log:
      fields:
        service: registry
    storage:
      cache:
        blobdescriptor: inmemory
    http:
      # Don't change 5000 here
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]
    health:
      storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
    auth:
      token:
        # We inject realm as env variable
        service: shipa-registry
        issuer: shipa-token-issuer
        rootcertbundle: /etc/ssl/docker/ca.pem
