apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "shipa.fullname" . }}-api-config
  labels: {{- include "shipa.labels" . | nindent 4 }}
data:
  shipa.conf: |-
    tls-listen: "0.0.0.0:{{ .Values.shipaApi.securePort }}"
    listen: "0.0.0.0:{{ .Values.shipaApi.port }}"
    host: https://SHIPA_PUBLIC_IP:{{ .Values.shipaApi.securePort }}
    use-tls: true
    tls:
      server-cert: /certs/api-server.crt
      server-key: /certs/api-server.key

    database:
      use-external: {{ .Values.externalMongodb.enable }}
     {{- if .Values.externalMongodb.enable }}
      url: {{ .Release.Name }}-mongodb:{{ .Values.externalMongodb.port}}
      host-type: {{ .Values.externalMongodb.type | quote }}
     {{ else }}
      url: {{ .Release.Name }}-mongodb:27017
      host-type: "IP"
     {{- end }}
      name: shipa
    license: {{ .Values.license }}
    organization:
      id: SHIPA_ORGANIZATION_ID
    dashboard:
      enabled: $DASHBOARD_ENABLED
      image: $DASHBOARD_IMAGE
    auth:
      admin-email: {{ .Values.auth.adminUser | quote }}
      dummy-domain: {{ .Values.auth.dummyDomain | quote }}
      token-expire-days: 2
      hash-cost: 4
      user-registration: true
    user-activation:
      cert: LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF6TXIwd3hETklDcm9JN3VEVkdoTgpFZytVbTdkQzk3NVZpM1l1NnJHUUdlc3ZwZTY5T2NhT0VxZHFML0NNWGVRMW1oTVFtUnplQnlxWEJ1Q2xOemphCjlEbjV2WTBlVnNIZUhuVTJ4bkkyV1dSR3JjUE1mRGJuRzlDSnNZQmdHd3A2eDcrYVR2RXZCRFBtS3YrcjdOcysKUXhhNzBFZEk4NTZLMWQyTTQ1U3RuZW1hcm51cjdOTDdGb2VsS1FWNGREd1hxU2EvVW1tdHdOOGNSTENUQ0N4NQpObkVya2UrTWo1RFFqTW5TUlRHbjFxOE91azlOUXRxNDlrbFMwMUhIQTJBWnR6ZExteTMrTktXRVZta3Z0cGgxClJseHBtZVQ5SERNbHI5aFI3U3BidnRHeVZVUG1pbXVYWFA4cXdOcHZab01Ka3hWRm4zbWNRVHRMbk8xa0Jjb1cKZVFJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
    provisioner: kubernetes
    platforms:
      platformImageTag: {{ .Values.platforms.platformImageTag }}
    metrics:
      host: {{ template "shipa.fullname" . }}-metrics
      password: $METRICS_PASSWORD

      # section contains configuration of Prometheus Metrics Exporter
      prometheus-metrics-exporter:
        image: shipasoftware/prometheus-metrics-exporter:v0.0.3

    docker:
      bb:
        image: {{ .Values.busybody.image }}
        socket: /var/run/docker.sock
      cluster:
        storage: mongodb
        mongo-database: cluster
      collection: docker
      registry: SHIPA_PUBLIC_IP:{{ ( index .Values "docker-registry" ).service.port }}
      registry-scheme: https
      registry-auth:
        username: admin
        password: $DOCKER_REGISTRY_PASSWORD
      registry-token-signer:
        key-file: /certs/ca-key.pem
        cert-file: /certs/ca.pem
      repository-namespace: shipa
      router: traefik
      deploy-cmd: /var/lib/shipa/deploy
      run-cmd:
        bin: /var/lib/shipa/start
        port: "8888"
      tls:
        root-path: /certs
      auto-scale:
        enabled: true
        run-interval: $DOCKER_AUTOSCALE_RUN_INTERVAL
    routers:
      traefik:
        type: traefik
        domain: shipa.cloud
        kv:
          endpoint: {{ template "shipa.fullname" . }}-etcd:2379
          username: root
          password: $ETCD_PASSWORD
          ca: /certs/ca.pem
          client-key: /certs/etcd-client.key
          client-cert: /certs/etcd-client.crt
      istio:
        type: istio
    queue:
      mongo-database: queuedb
    quota:
      units-per-app: 4
      apps-per-user: 8
    log:
      disable-syslog: true
      use-stderr: true
    clair:
      server: http://{{ template "shipa.fullname" . }}-clair:6060
      disabled: false
    kubernetes:
      # pod name is used by a leader election thing as an identifier for the current shipa-api instance
      pod-name: $POD_NAME
      pod-namespace: $POD_NAMESPACE
      core-services-address: SHIPA_PUBLIC_IP
      use-pool-namespaces: true
      remote-cluster-ingress:
        http-port: 80
        https-port: 443
        protected-port: 31567
        service-type: LoadBalancer

      deploy-sidecar-image: shipasoftware/deploy-agent:v0.6.2
      deploy-inspect-image: shipasoftware/deploy-agent:v0.6.2
    debug: {{ .Values.shipaApi.debug }}
    node-traefik:
      image: {{ .Values.shipaNodeTraefik.image }}
      user: {{ .Values.shipaNodeTraefik.user }}
      password: $NODE_TRAEFIK_PASSWORD
    certificates:
      root: /certs/
      ca: ca.pem
      ca-key: ca-key.pem
      client-ca: client-ca.crt
      client-ca-key: client-ca.key

    signatures: single # multiple/single
