apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "shipa.fullname" . }}-api-init-config
  labels: {{- include "shipa.labels" . | nindent 4 }}
data:
  common.sh: |
{{ .Files.Get "scripts/common.sh" | indent 4 }}
  create-root-user.sh: |
{{ .Files.Get "scripts/create-root-user.sh" | indent 4 }}
  init-job.sh: |
{{ .Files.Get "scripts/init-job.sh" | indent 4 }}
  install-dashboard.sh: |
{{ .Files.Get "scripts/install-dashboard.sh" | indent 4 }}
  bootstrap.sh: |
{{ .Files.Get "scripts/bootstrap.sh" | indent 4 }}
  csr-docker-cluster.json: |
{{ .Files.Get "scripts/csr-docker-cluster.json" | indent 4 }}
  csr-etcd.json: |
{{ .Files.Get "scripts/csr-etcd.json" | indent 4 }}
  csr-etcd-client.json: |
{{ .Files.Get "scripts/csr-etcd-client.json" | indent 4 }}
  csr-docker-registry.json: |
{{ .Files.Get "scripts/csr-docker-registry.json" | indent 4 }}
  csr-shipa-ca.json: |
{{ .Files.Get "scripts/csr-shipa-ca.json" | indent 4 }}
  csr-client-ca.json: |
{{ .Files.Get "scripts/csr-client-ca.json" | indent 4 }}
  csr-netdata-client.json: |
{{ .Files.Get "scripts/csr-netdata-client.json" | indent 4 }}
  csr-api-config.json: |
{{ .Files.Get "scripts/csr-api-config.json" | indent 4 }}
  csr-api-server.json: |
{{ .Files.Get "scripts/csr-api-server.json" | indent 4 }}
  default-pool-template.yaml: |
    ShipaPool: shipa-pool
    Resources:
      General:
        Setup:
          Force: false
          Default: true
          Public: true
          Provisioner: kubernetes
          KubeNamespace: {{ .Release.Namespace }}
        Security:
          Disable-Scan: true
          Scan-Platform-Layers: false
        Access:
          Append:
            - shipa-admin-team
            - shipa-system-team
